<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Créer nouvelle conférence</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="Home.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="https://seeklogo.com/images/M/meteor-logo-513B96BFB2-seeklogo.com.png"
    />

    <script>
      const ROOM_ID = "<%= newMeetId %>";
    </script>
    <style>
      form {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60em;
        height: 20em;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 2em;
      }
    </style>
  </head>
  <body>
    <main class="main_main">
      <div id="pricpale_div">
        <form id="meet-name" action="/new-meeting" method="get">
          <div class="email">
            <label for="exampleInputEmail1"
              >Entrez le nom de conférence <span class="oblg">* </span
              ><span>:</span></label
            >
            <input
              id="Name_value"
              type="text"
              placeholder="Nom de conférence"
              aria-describedby="emailHelp"
              required
            />
            <label class="wrong" for=""></label>
          </div>

          <button id="in_btn" class="submit">Commencer la conférence</button>
        </form>
      </div>
    </main>

    <script src="new-meet.js"></script>
  </body>
</html>
