<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Créer nouvelle conférence</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="homePage__navbar">
      <div class="homePage__navbarLeft">
        <img
          src="https://seeklogo.com/images/M/meteor-logo-513B96BFB2-seeklogo.com.png"
          alt=""
        />
        <h1>Meeeteor</h1>
      </div>
    </nav>
    <main class="main_main">
      <div id="pricpale_div">
        <form id="form">
          <div class="email">
            <label for="exampleInputEmail1"
              >Entrez le nom de conférence <span class="oblg">* </span
              ><span>:</span></label
            >
            <input
              id="Name_value"
              type="text"
              placeholder="Nom_de_conférence"
              aria-describedby="emailHelp"
              required
            />
            <label class="wrong" for=""></label>
          </div>

          <button id="in_btn" class="submit" type="button">
            Commencer la conférence
          </button>
        </form>
      </div>
    </main>

    <div class="footer-dark">
      <footer>
        <div class="Container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h2>Services</h2>
              <ul>
                <li><a href="#">Online Meetings</a></li>
                <li><a href="#">Online Courses</a></li>
                <li><a href="#">Video conferencing</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h2>About</h2>
              <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
            <div class="col-md-6 item text">
              <h2>Meeeteor</h2>
              <p>
                Praesent sed lobortis mi. Suspendisse vel placerat ligula.
                Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis
                tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel
                in justo.
              </p>
            </div>
          </div>
          <div class="col item social">
            <a href="#"><i class="fab fa-facebook"></i></a
            ><a href="#"><i class="fab fa-twitter"></i></a
            ><a href="#"><i class="fab fa-snapchat"></i></a
            ><a href="#"><i class="fab fa-instagram"></i> </a>
          </div>
          <p class="copyright">Meeteor © 2021</p>
        </div>
      </footer>
    </div>
  </body>
</html>
